# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Environment variables and secrets
.env
*.key
*.pem

# Jupyter
.ipynb_checkpoints/

# Local data and logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/

# Local datasets
data/raw/
data/processed/
